@import url(https://fontlibrary.org/face/hk-grotesk);

ul {
  list-style-type: none;
}

ul li {
  display: block;
  font-size: 25px;
  border-left: 15px solid #ffcd33;
  padding-top: 10px;
  padding-left: 1.25em;
  margin-left: 2.39em;
  margin-top: 0px;
}

.subtitle {
  font-size: 23px;
  display: block;
}

.insta {
  position: absolute;
  top: 23em;
  left: 12.8em;
  text-align: center;
  font-family: 'HKGroteskBold';
}

.twitter {
  position: absolute;
  top: 23em;
  left: 41em;
  text-align: center;
  font-family: 'HKGroteskBold';
}

.email {
  position: absolute;
  top: 23em;
  left: 23em;
  text-align: center;
  font-family: 'HKGroteskBold';
}

.header {
  font-family: 'HKGroteskBold';
  font-size: 60px;
}

.contactA {
  margin-top: 2em;
  text-align: center;
}

.contactB {
  margin-top: 16em;
  text-align: center;
}

.contactImages img {
  top: 12em;
  left: 10.4em;
  position: absolute;
  height: 10em;
}

.code {
  background-color: #f0f0f0;
}

.centeredCode {
  position: absolute;
  width: 100%;
  z-index: 3;
  text-align: center;
  top: 10em;
}

.twitterPost {
  position: absolute;
  width: 5em;
  top: 5em;
  left: 12em;
}

.quote {
  background: #f9f9f9;
  border-left: 15px solid #ffcd33;
  width: 80%;
  margin: 1.5em 5.1em;
  display: block;
  line-height: 2.5em;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote p {
  display: inline;
  font-size: 1.2em;
}

.quote {
  padding: 1em;
  font-style: italic;
  color: #222;
}

/* START OF IMAGES */

.logo img {
  position: absolute;
  width: 6em;
  top: 13em;
  left: 14.5em;
  height: 6em;
  z-index: 2;
}

.yellowCircleLeft img {
  position: absolute;
  right: 4em;
  top: 9.5em;
  height: 12em;
  z-index: 2;
}

.yellowCircleRight img {
  position: absolute;
  left: 4em;
  top: 9.5em;
  height: 12em;
  z-index: 2;
}

.yellowCircleContact img {
  position: absolute;
  left: 24.5em;
  top: 7em;
  height: 12em;
  z-index: 2;
}

.iconLeft img {
  position: absolute;
  right: 6.75em;
  top: 11em;
  height: 8.5em;
  z-index: 2;
}

.separator img {
  position: absolute;
  top: 13em;
  left: 22.5em;
  width: 0.6em;
  height: 6em;
  z-index: 2;
}

.horizontalBar img {
  position: absolute;
  top: 31.1em;
  height: 9em;
  z-index: 3;
  left: 0em;
}

/* END OF IMAGES */

body {
  font-family: 'HKGroteskRegular';
}

.title {
  position: absolute;
  font-family: 'HKGroteskRegular';
  font-size: 50px;
  text-align: left;
  top: 5.25em;
  left: 9.9em;
  z-index: 2;
}

h1 {
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  display: block;
  margin-left: 1.85em;
  z-index: 2;
  border-left: 13px solid #ffcd33;
  padding-left: 0.75em;
}

h2 {
  text-align: left;
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  display: block;
  margin-left: 2.25em;
  z-index: 2;
  width: 80%;
  border-left: 13px solid #ffcd33;
  padding-left: 1em;
}

h3 {
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  display: block;
  margin-left: 2.9em;
  z-index: 2;
  width: 75%;
  border-left: 13px solid #ffcd33;
  padding-left: 1.4em;
}

p {
  margin: 0px;
}

b {
  font-family: 'HKGroteskBold';
}

.remark-slide {
}

.remark-slide-scaler {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.title-slide {
  background-image: url(../images/BG_Test.png);
  background-size: cover;
}

.remark-slide-number {
  position: absolute;
  padding-right: 0.2em;
  z-index: 3;
}

.citation {
  font-size: 0.6em;
}

.remark-slide-content {
  padding: 0em;
  border-bottom-color: #ffcd33;
  border-bottom-width: 3em;
  border-bottom-style: solid;
}

.remark-container {
  background-color: #e6e6e6;
}

.remark-code,
.remark-inline-code {
  font-family: 'HKGroteskRegular';
  position: absolute;
  width: 100%;
  z-index: 3;
  padding-left: 1.5em;
  overflow: hidden;
}


.javascript {
  padding: 1em;
  font-size: 1.5em;
}

.code pre {
  margin: 0;
}

.react img {
  width: 12%;
  vertical-align: middle;
}

.ten img {
  width: 10%;
}

.twenty img {
  width: 20%;
}

.thirty img {
  width: 30%;
}

.fourty img {
  width: 40%;
}

.fifty img {
  width: 50%;
}

.sixty img {
  width: 60%;
}
.seventy img {
  width: 70%;
}

.eighty img {
  width: 80%;
}

.ninety img {
  width: 90%;
}

.ninetyfive img {
  width: 95%;
}

.onehundred img {
  width: 100%;
}
