@import url(https://fontlibrary.org/face/hk-grotesk);

ul {
  list-style-type: none;
}

.insta{
   position: absolute;
   top:23em;
   left: 12.8em;
   text-align: center;
   font-family: 'HKGroteskBold';
}

.twitter{
   position: absolute;
   top:23em;
   left: 41em;
   text-align: center;
   font-family: 'HKGroteskBold';
}

.email{
   position: absolute;
   top:23em;
   left:23em;
   text-align: center;
   font-family: 'HKGroteskBold';
}

.header{
   font-family: 'HKGroteskBold';
   font-size: 60px;
}

.contactA{
   margin-top: 2em;
   text-align: center;
}

.contactB{
   margin-top: 16em;
   text-align: center;
}

.contactImages img{
   top:12em;
   left: 10.4em;
   position: absolute;
   height: 10em;
}

.code{
   position: absolute;
   width: 100%;
   z-index: 3;
   padding-left: 1.5em;
}

.CenteredCode{
   position: absolute;
   width: 100%;
   z-index: 3;
   text-align: center;
   top:10em;
}

.twitterPost{
   position:absolute;
   width:5em;
   top:5em;
   left: 12em;
}

.quote {
  background: #f9f9f9;
  border-left: 15px solid #FFCD33;
  width: 80%;
  margin: 1.5em 5.1em;
  line-height: 2.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote p {
  display: inline;
}

.quote {
  padding:1em;
  font-style: italic;
  color: #222;
}


/* START OF IMAGES */


.logo img {
   position: absolute;
   width: 6em;
   top: 13em;
   left: 14.5em;
   height: 6em;
   z-index: 2;
}


.yellowCircleLeft img {
   position: absolute;
   right: 4em;
   top: 9.5em;
   height:12em;
   z-index: 2;
}

.yellowCircleRight img {
   position: absolute;
   left: 4em;
   top: 9.5em;
   height:12em;
   z-index: 2;
}

.yellowCircleContact img {
   position: absolute;
   left: 24.5em;
   top: 7.0em;
   height:12em;
   z-index: 2;
}

.iconLeft img {
   position: absolute;
   right: 6.75em;
   top: 11.0em;
   height:8.5em;
   z-index: 2;
}

.iconRight img {
   position: absolute;
   left: 6.75em;
   top: 11.0em;
   height:8.5em;
   z-index: 2;
}

.background img {
   height: 100%;
   position: absolute;
   right:0em;
   top:0em;
   z-index: 1;
}

.separator img {
   position: absolute;
   top: 13em;
   left: 22.5em;
   width: 0.6em;
   height: 6em;
   z-index: 2;
}


.horizontalBar img {
   position: absolute;
   top: 31.1em;
   height: 9em;
   z-index: 3;
   left:0em;
}

.verticalBarRight img {
   position: absolute;
   left: 56.3em;
   top: 11.0em;
   width: 0.65em;
   height: 10.0em;
   z-index: 3;
}

.verticalBarLeft img {
   position: absolute;
   left: 3.7em;
   top: 11.0em;
   width: 0.65em;
   height: 10.0em;
   z-index: 3;
}

.verticalBarLeftCode img {
   position: absolute;
   left: 3.7em;
   top: 13.0em;
   width: 0.65em;
   height: 5.8em;
   z-index: 3;
}


/* END OF IMAGES */


.bold{
   font-family: 'HKGroteskBold';
}

body {
   font-family: 'HKGroteskRegular';
}

.title{
   position: absolute;
   font-family: 'HKGroteskRegular';
   font-size: 50px;
   text-align: left;
   top: 5.25em;
   left: 10em;
   z-index: 2;
}

.rightText{
   display: block;
   position: absolute;
   border-right: 13px solid #FFCD33;
   padding-right: 0.7em;
   font-family: 'HKGroteskRegular';
   font-size: 55px;
   top: 4.0em;
   right: 1.5em;
   text-align: right;
   z-index: 2;
}

.rightTextOnly{
   display: block;
   border-right: 13px solid #FFCD33;
   padding-right: 0.7em;
   width:80%;
   position: absolute;
   font-family: 'HKGroteskRegular';
   font-size: 45px;
   top: 4.5em;
   right: 2.25em;
   text-align: right;
   z-index: 2;
   padding-left: 1.5em;
}

.leftText{
   display: block;
   border-left: 13px solid #FFCD33;
   padding-left: 0.7em;
   position: absolute;
   font-family: 'HKGroteskRegular';
   font-size: 55px;
   top: 4.0em;
   left: 1.5em;
   text-align: left;
   z-index: 2;
}

.titleSlide{
   margin-left: 1.85em;
   display: block;
   font-size: 55px;
   border-left: 13px solid #FFCD33;
   padding-left: 0.7em;
}

.leftTextOnly{
   display: block;
   border-left: 13px solid #FFCD33;
   padding-left: 0.7em;
   position: absolute;
   width:80%;
   font-family: 'HKGroteskRegular';
   font-size: 45px;
   top: 4.5em;
   left: 2.25em;
   text-align: left;
   z-index: 2;
   padding-right: 1.5em;
}

h1, h2, h3 {
   font-family: 'HKGroteskBold';
   font-weight: normal;
   z-index: 2;
}

p {
   margin: 0px;
}

.remark-slide {
  border-bottom-color: #FFCD33; 
  border-bottom-width: 3.7em;
  border-bottom-style: solid;
}


.remark-slide-scaler {
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

}

.remark-slide-number{
   position: absolute;
   padding-right: 0.2em;
   z-index: 3;
}

.remark-slide-content{
	padding: 0em;
}

.remark-container {
   background-color: #e6e6e6;
}
      
.remark-code, .remark-inline-code { 
   font-family: 'HKGroteskRegular';
}

.ten img {
  width: 10%;
}

.twenty img {
  width: 20%;
}

.thirty img {
  width: 30%;
}

.fourty img {
  width: 40%;
}

.fifty img {
  width: 50%;
}

.sixty img {
  width: 60%;
}
.seventy img {
  width: 70%;
}

.eighty img {
  width: 80%;
}

.ninety img {
  width: 90%;
}

.ninetyfive img {
  width: 95%;
}

.onehundred img {
  width: 100%;
}